@import-normalize;

body {
  background-color: #3c3c3c;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  border: none;
}

.bordered {
  border-bottom: 2px inset #fff;
  border-right: 2px inset #fff;
  border-left: 2px outset rgb(128, 128, 128);
  border-top: 2px outset rgb(128, 128, 128);
  &-revert {
    border-left: 2px outset #fff;
    border-top: 2px outset #fff;
    border-bottom: 2px inset rgb(128, 128, 128);
    border-right: 2px inset rgb(128, 128, 128);
  }
}
